body {
  font-family: "Courier New", Courier, monospace;
}

ul {
  list-style: none;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  font-weight: bold;
  margin-bottom: 20px 0;
}

img {
  height: auto;
  width: 500px;
  margin-bottom: 20px;
}

p {
  margin-bottom: 15px;
}

li {
  margin-bottom: 5px;
}
